.connect {
  width: 380px;
  height: 72px;
  text-align: center;
  font-size: 32px;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  border-radius: 50px;
  background-color:  #58C663;
  border: 4px solid;
  border-color: #C8DAEE;
  color: #244CBB;
  cursor: pointer; 
}

@media (max-width: 1280px) {
  .connect {
    width: 280px;
    height: 60px;
    font-size: 24px;    
  }
}

@media (max-width: 1024px) {
  .connect {
    width: 210px;
    height: 40px;
    font-size: 18px;     
  }
}

@media (max-width: 768px) {
  .connect {
    width: 140px;
    height: 30px;
    font-size: 12px;
  }
}

@media (max-width: 640px) {
  .connect {
    width: 130px;
    height: 30px;
    font-size: 10px;
  }
}

