.contacts {
  max-width: 1440px;
  display: flex;
  justify-content: center; 
  padding-bottom: 272px;
  scroll-margin-top: 122px;
}

.contacts_frame {
  max-width: 1280px;
  width: 100%;   
  display: flex;
  flex-direction: column; 
}

.contacts_top { 
  background-color: #244CBB;
  display: flex;
  justify-content: space-between;  
}

.contacts_info {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}

.contacts_contacts {
  font-size: 48px;
  font-family: "Comfortaa", Arial, Helvetica, sans-serif;
  color: #C8DAEE;
  margin: 204px 0px 0px 104px;
}

.contacts_name {
  margin: 36px 36px 36px 0px;  
  text-align: center;
  max-width: 518px;
  font-size: 64px;
  font-family: "Comfortaa", Arial, Helvetica, sans-serif;
  color: #C8DAEE; 
}

.contacts_option {
  display: flex;
  font-size: 22px;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  color: #244CBB;
  margin: 44px 0px 0px 95px; 
}

.contacts_images {
  height: 80px;
  width: 80px;
  margin-right: 16px;
}

@media (max-width: 1280px) {
  .contacts_name {
    font-size: 48px;
    margin: 24px 24px 24px 0px;
  }
  .contacts_contacts {
    font-size: 40px;
    margin-top: 140px;
  }
  .contacts_option {
    font-size: 18px;
  }
}

@media (max-width: 1024px) {    
  .contacts {
    scroll-margin-top: 80px;    
  } 
  .contacts_name {
    font-size: 42px;   
  }
  .contacts_contacts {
    font-size: 32px;
    margin: 114px 160px 10px 40px;   
  }
  .contacts_option {
    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .contacts_images {
    height: 60px;
    width: 60px;
    margin-right: 16px;
  }
  .contacts_info {
    margin-bottom: 14px;
  }
}

@media (max-width: 768px) { 
  .contacts {
    scroll-margin-top: 70px;    
  } 
  .contacts_name {
    font-size: 32px;   
  }
  .contacts_contacts {
    font-size: 26px;
    margin: 114px 160px 10px 40px;   
  }
  .contacts_option {   
    font-size: 12px;
    margin-left: 50px;
    margin-right: 10px;
  }
  .contacts_images {
    height: 40px;
    width: 40px;
    margin-right: 10px;
  }
  .contacts_info {
    margin-bottom: 62px;
  }
}

@media (max-width: 640px) {
  .contacts {
    scroll-margin-top: 50px;    
  } 
  .contacts_name {
    font-size: 24px;   
  }
  .contacts_contacts {
    font-size: 20px;
    margin-top: 82px;   
  }
  .contacts_option {
    font-size: 10px; 
    margin-left: 30px;   
  }  
  .contacts_info {
    margin-bottom: 140px;
  }
}

@media (max-width: 540px) {  
  .contacts {
    scroll-margin-top: 46px;    
  } 
  .contacts_name {
    font-size: 20px; 
    margin: 10px 10px 10px 0;  
  }
  .contacts_contacts {
    font-size: 18px;
    margin: 62px 80px 10px 20px;   
  }
  .contacts_option {
    font-size: 8px; 
    margin-left: 60px; 
    margin-top: 14px;      
  }  
  .contacts_info {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin-bottom: 110px;
  }
}

