.main {  
  max-width: 1440px;
  padding: 0px 80px 0px;  
  display: flex;
  justify-content: center;  
  scroll-margin-top: 152px;
}
  
.main_frame {
  max-width: 1280px;
  width: 100%;  
  padding: 4px 0px 0px 76px;
  background-color: #244CBB;
  margin: 0 auto 0 auto; 
  display: grid;
  grid-template-columns: auto 20%;
  grid-template-rows: 40% auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px; 
}
    
.main_title {
  max-width: 674px;    
  text-align: left;
  margin: 44px 0px 0px 0px;
  font-size: 64px;
  font-family: "Comfortaa", Arial, Helvetica, sans-serif;
  color: #C8DAEE;
  grid-column: 1;
  grid-row: 1;
}

.main_person {
  max-width: 990px;
  padding: 32px 0px 0px 26px;   
  background-color: #C8DAEE;
  grid-column: 1;
  grid-row: 2;
}

.main_name {
  text-align: left;
  max-width: 650px;
  font-size: 48px;
  font-family: "Comfortaa", Arial, Helvetica, sans-serif;
  color: #244CBB;
  margin: 0;
}

.main_job {
  max-width: 400px;
  text-align: left;
  font-size: 18px;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  color: #244CBB;
  margin-left: 24px;
}

.main_connect {
  max-width: 478px;
  padding: 50px 80px;  
  grid-column: 1;
  grid-row: 3;
}

.main_pic {
  width: 658px;
  height: 681px;
  margin: 114px 0px 0 auto;  
  mask-image: linear-gradient(#000 75%, transparent); 
  grid-column: 1/ span 2;
  grid-row: 1/ span 3;
}

@media (max-width: 1280px) {    
  .main_frame {   
    grid-template-columns: auto 16%;    
  }  
  .main_title {
    font-size: 48px;
    margin-top: 44px;   
  }
  .main_name {
    font-size: 40px;
  } 
  .main_person {
    padding-left: 16px;
  } 
  .main_pic {
    width: 461px;
    height: 477px
  } 
  .main_connect {      
    padding: 30px 80px;  
    grid-column: 1;
    grid-row: 3;
  }
}

@media (max-width: 1024px) {  
  .main_frame {   
    padding-left: 30px;
    grid-template-columns: auto 12%;        
  }
  .main_title {
    font-size: 42px;
    margin-top: 24px; 
    padding-right: 120px;
  }  
  .main_connect {      
    padding: 12px;  
    grid-column: 1;
    grid-row: 3;
  }
  .main_name {
    font-size: 32px;
    padding-right: 120px;
  }   
  .main_job {
    font-size: 16px;
  }  
  .main_pic {
    width: 306px;
    height: 318px
  } 
}

@media (max-width: 768px) { 
  .main_frame {   
    padding-left: 30px;
    grid-template-columns: 86% 12%;        
  }
  .main_title {
    font-size: 32px;
    margin-top: 16px;     
  }  
  .main_name {
    font-size: 24px;
  } 
  .main_job {
    font-size: 12px;
    margin-left: 12px;
  } 
  .main_person {
    padding-top: 22px;
    max-width: 520px;
  } 
  .main_pic {
    margin-top: 100px;
    width: 274px;
    height: 286px
  }   
}

@media (max-width: 640px) {
  .main_frame {   
    grid-template-rows: 36% 26% auto;
  }
  .main_person {   
    max-width: 330px;
    padding-top: 10px;
  } 
  .main_title {
    font-size: 24px;
    margin-top: 12px; 
  } 
  .main_name {
    font-size: 16px;
  } 
  .main_job {
    font-size: 10px;
    margin: 6px;
  }
  .main_pic {
    margin-top: 60px;
    width: 246px;
    height: 256px
  }
}

@media (max-width: 540px) {
  .main_pic {
    margin-top: 40px;
    width: 221px;
    height: 230px
  }
  .main_person {   
    max-width: 300px;
    padding-left: 16px;
    padding-top: 8px;
  } 
  .main_title {
    font-size: 24px;
    margin-top: 10px;    
  } 
  .main_name {
    font-size: 14px;
  } 
}